@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}


*{
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    text-align: center; 
}

header > h1 {
    font-family: var(--font2);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
    font-size: 1.2em;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


section {
    font-family: var(--font3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 50px;
    line-height: 2em;
    font-size: 3vw;
}

.imagem {
    background-color: rgb(51, 48, 48);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 16px rgba(0, 0, 0, 0.692);
}

.imagem > p {
    display: inline-block;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.582);
    text-shadow: 1px 1px 0px black;
}

#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

#img02 {
    background-image: url('../imagens/background002.jpg');
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
}