
*{
    padding: 0;
}

body {
    font-family: 'Work sans', Arial, Helvetica;

    font-size: 1em;
    /* Medidas absolutass 
        cm, mm in,ox,pt,pc
        
       Medidas Relativas
       em, ex, rem,vw, vh, %
       
       16px geralmente = 1em
    */

    font-weight: normal;
    /* lighter normal bold bolder*/

    font-style: italic;
}

h1 {
    /*
        SHORTHAND FONT
        - font-style  font-weight  font-size font-fanily

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 3em;
    font-style: italic;
     */

     font: italic 3em "Cambria" , sans-serif;
}
